@model SCHAPP.Models.RegistrarseViewModel
@{
    ViewData["Title"] = "Registrarse";
}
<h2 id ="idTitulo">Registra tus datos</h2>
<form asp-action="Registrarse" method="post" id="registrarseForm">
    <div class="row d-flex mb-3">
        <!--Primera columna del formulario-->
        <div class="col-6">
            <!-- Campo Nombre Usuario -->
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre Usuario</label>
                <i class="bi bi-check-circle text-success d-none" id="UsExistF"></i>
                <input asp-for="inpNombreUsu" type="text" class="form-control" id="inpNombreUsu" placeholder="Selecciona nombre de usuario disponible" autocomplete="off">
                <label for="nombre" class="text-danger d-none" id="UsExistT">El usuario ya existe</label>
                <!-- <label for="nombre" class="text-primary d-none" id="UsExistF">Usuario Valido</label> -->
            </div>

            <!-- Campo Nombre -->
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input asp-for="inpNombre" type="text" class="form-control" id="inpNombre" placeholder="Introduce tu nombre" autocomplete="off">
            </div>

            <!-- Campo AP paterno -->
            <div class="mb-3">
                <label for="ap_paterno" class="form-label">Apellido Paterno</label>
                <input asp-for="inpApPaterno" type="text" class="form-control" id="inpApPaterno" placeholder="Introduce tu Apellido paterno" autocomplete="off">
            </div>

            <!-- Campo AP materno -->
            <div class="mb-3">
                <label for="ap_materno" class="form-label">Apellido Materno</label>
                <input asp-for="inpApMaterno" type="text" class="form-control" id="inpApMaterno" placeholder="Introduce tu Apellido materno" autocomplete="off">
            </div>

            <!-- Campo Email -->
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <i class="bi bi-check-circle text-success d-none" id="EmExistF"></i>
                <input asp-for="inpEmail" type="email" class="form-control" id="inpEmail" placeholder="ejemplo@dominio.com" autocomplete="off">
                <label for="email" class="text-danger d-none" id="EmExistT">El email ya existe</label>
            </div>

            <!-- Campo Fecha de nacimiento -->
            <div class="mb-3">
                <label for="fecha" class="form-label">Fecha de nacimiento</label>
                <i class="bi bi-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="Debes tener al menos 15 años"></i>
                <input asp-for="inpFdeNacimiento" type="date" class="form-control" id="inpFdeNacimiento">
            </div>
        </div>
        <!-- Segunda columna del forulario-->
        <div class="col-6">
            <!-- Campo Teléfono -->
            <div class="mb-3">
                <label for="telefono" class="form-label">Teléfono</label>
                <input asp-for="inpTelefono" class="form-control" id="inpTelefono" placeholder="Introduce tu número de teléfono" autocomplete="off">
            </div>

            <!-- Campo Domicilio -->
            <div class="mb-3">
                <label for="domicilio" class="form-label">Domicilio</label>
                <input asp-for="inpDomicilio" type="text" class="form-control" id="inpDomicilio" placeholder="Introduce tu domicilio" autocomplete="off">
            </div>

            <!-- Campo ROL-->
            <div class="mb-3">
                <label for="cliserv" class="form-label">Cliente o Servidor</label>
                <select asp-for="slctRol" class="form-select" id="slctCliServ" aria-label="Selecciona una opción">
                    <option selected disabled>Selecciona una opción</option>
                </select>
            </div>

            <!-- Campo otro servicio -->
            <div class="mb-3">
                <input asp-for="inpOtrServ" type="text" class="form-control d-none" id="inpOtrServ" placeholder="Otro servicio">
            </div>

            <!-- Campo de sexo-->
            <div class="mb-3" style="height: 69px;">
                <label for="text" class="form-label">Sexo:</label>
                <div style="height: 5px;"></div>
                <!-- Grupo de Radio Buttons -->
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Sexo" id="rbtnMujer" value=1 checked>
                    <label class="form-check-label" for="opcion1">
                        Mujer
                    </label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Sexo" id="rbtnHombre" value=2>
                    <label class="form-check-label" for="opcion2">
                        Hombre
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Sexo" id="rbtnPrivado" value=3 checked>
                    <label class="form-check-label" for="opcion3">
                        Prefiero no especificar
                    </label>
                </div>
            </div>

            <!-- Campo Password -->
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input asp-for="inpContraseña" type="password" class="form-control" id="inpContraseña" placeholder="Introduce una contraseña" autocomplete="off">
            </div>

            <!-- Campo Password confirmacion-->
            <div class="mb-3">
                <label for="password" class="form-label">Confirma tu Contraseña</label>                
                <i class="bi bi-check-circle text-success d-none" id="passConfirmT"></i>
                <input asp-for="inpContraseña2" type="password" class="form-control" id="inpContraseña2" placeholder="Confirma tu contraseña" autocomplete="off">
                <label for="password" class="text-danger d-none" id="passConfirmF">Las contraseñas no coinciden.</label>
            </div>
        </div>
    </div>
    <div class="mb-3" id="btnSubmitArea">
        <label class="text-danger" id="modelError"></label>
        <div class="d-flex justify-content-center">
            <div class="spinner-border d-none" role="status" id="spnrRegistrar">
                <span class="visually-hidden">Registrando...</span>
            </div>
            <!-- Botón de Envío -->
            <button type="submit" class="btn btn-primary" id="btnRegistrar" disabled>Enviar</button>
        </div>
    </div>
    <div id="alertContainer">
    </div>
</form> 
<script src="~/js/jsRegistrarse.js"></script>




